/**
 * @author WMXPY
 * @namespace Style_Scene_Execute
 * @description Execute
 */
    
@import '../../common/color.sass'
@import '../../common/mixin.sass'

.title
    display: flex
    flex-direction: row
    align-items: center

    color: $white
    height: 100%
    .title-left
        flex: 1
        display: flex

        @include background-opacity($red, .5);
        height: 100%
        div
            align-self: flex-end
    .title-right
        flex: 7

        @include background-opacity($navy, .9);
        height: 100%
        transition: 1s all ease-out
        overflow: hidden
            
.expendable

    width: 0%
    &.full-sized

        width: 100%