/**
 * @author WMXPY
 * @namespace Style_Scene
 * @description Scepter
 */
    
@import '../../common/color.sass'


.wrapper
    display: flex
    overflow: hidden

    height: 100%
.nav
    width: 125px
    background-color: $navy

    button
        height: 45px
        width: 100%
        border: 5px solid $trans
        background-color: $trans
        color: $lime
        transition: 0.3s all
        cursor: pointer

        &:hover
            border: 5px solid $lime

.contents
    flex: 1
    display: flex
    flex-direction: column

    .menu
        height: 30px

        margin: 10px
    .breadcrumb 
        height: 30px

        margin: 10px
    .query
        flex: 1
